<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">

<servlet>
<servlet-name>UserController</servlet-name>
<servlet-class>vikas.RatanRaman.User.UserController</servlet-class>
<load-on-startup>2</load-on-startup>
</servlet>
<servlet-mapping>
<servlet-name>UserController</servlet-name>
<url-pattern>/UserPage</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>FlightContoller</servlet-name>
<servlet-class>vikas.RatanRaman.Flights.FlightController</servlet-class>
<load-on-startup>2</load-on-startup>
</servlet>
<servlet-mapping>
<servlet-name>FlightController</servlet-name>
<url-pattern>/FlightPage</url-pattern>
</servlet-mapping>
</web-app>